body{
    margin: 5px;
}
.box{
    display: flex;
    position: sticky;
    height: 10vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f53b02, #b44316);
    justify-content: right;
    align-items: center;
    border-radius: 20px;
}
.text{
    margin: 10px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
}